<mat-toolbar>

  <p class="placeholder">placeholder</p>
  <p class="placeholder">|</p>
  <p class="placeholder">placeholder</p>


  <span class="example-spacer"></span>

  <button mat-raised-button class="button">About</button>
  <button mat-raised-button class="button end">Schedule</button>
  <button mat-raised-button class="button end">Speakers & Guests</button>
  <button mat-raised-button class="button end">Sponsers</button>
  <button mat-raised-button class="button end">Contact</button>


</mat-toolbar>
