.dash{
  margin: 1vh;
}

.example-spacer{
  margin-left: 100vh;
}

.button{
  margin: 3vh;
  color: whitesmoke !important;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.end{
  margin-left: -1vh;
}

.navbar{
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.443);
  position: sticky;
}

.clickable{
  cursor: pointer;
}
