<mat-toolbar class="navbar">
  <div class="brand clickable" routerLink="/">
    <img src="../../assets/images/pictogramColor.png" alt="BVSR" class="brand-logo">
    <span class="dash">|</span>
    <img src="../../assets/images/tudsatLogo.png" alt="TUdSat" class="brand-logo">
  </div>

  <span class="spacer"></span>

  <nav class="links">
    <button mat-button class="link" routerLink="/about">About</button>
    <button mat-button class="link" routerLink="/schedule">Schedule</button>
    <button mat-button class="link" routerLink="/speakers">Speakers & Guests</button>
    <button mat-button class="link" routerLink="/sponsers">Sponsors</button>
    <button mat-button class="link" routerLink="/contact">Contact</button>
  </nav>
</mat-toolbar>
