.head {
  color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 173px;
}

.sponsers{
  min-height: 100vh
}
.text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.popup {
  cursor: pointer;
}

.under {
  text-decoration: underline;
  font: bold;
}

.under:hover {
  color: #D1C697;
}

.button {
  font-family: 'Orbitron', sans-serif;
  margin-top: 5px;
  font-weight: bold;
}

.sponserbut {
  color: #D1C697 !important;
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: aliceblue;
}


