<app-navbar></app-navbar>

<div class="head">
  <h1 class="title">
    Budesverband  Studentischer Raumfahrt (BVSR)
  </h1>
</div>

<div class="teampic"></div>

<div class="subhead">
    <h2 class="mainhead">
    What is BVSR?
  </h2>

  <h3 class="description">
    BVSR (Bundesverband studentischer Raumfahrt e.V.) is the German federation of student-led
    aerospace associations. <br>
     Founded in 2021, BVSR unites more than 15 university groups across
     Germany to: <br>
     <ul>
        <li>Promote aerospace education and innovation.</li>
        <li>Encourage collaboration across student projects.</li>
        <li>Represent student interests in research, industry, and policy discussions</li>
      </ul>
  </h3>

  <h2 class="mainhead">
    Get to Know About BVSR
  </h2>

</div>

<div class="card-container">
  <mat-card class="example-card">Card 1</mat-card>
  <mat-card class="example-card">Card 2</mat-card>
  <mat-card class="example-card">Card 3</mat-card>
</div>
