.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 4vh;
    font-weight: bolder;
    color: whitesmoke;
}

.pic {
align-items: center;
}

.mainhead {
  font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    font-weight: bolder;
    color: whitesmoke;
     -webkit-text-stroke: 0.5px #FFCC00;

}

.teampic{
  width: 1220px;
  height: 300px;
  margin: 20px;
  background-image: url('../../assets/images/teampic.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.description {

  font-size: 3vh;
  color: whitesmoke;

}
