<app-navbar></app-navbar>

<section class="home">
  <div class="container">
    <div class="center-content">
      <img class="logo" src="../../assets/images/pictogramColor.png" alt="Logo">
      <h1 class="head">BVSR Conference 2026</h1>
      <h2 class="location">Darmstadt · May 14–17, 2026</h2>
      <!-- <h4 class="slogan">LOREM IPSUM – SOME CATCHY THEME OF THE CONFERENCE</h4> -->     <!--  ADD LATER -->
    </div>
  </div>

  <div class="p-container">
    <div class="left-text">
      <p>
        Discover the future of space exploration with us. The BVSR 2026 Conference offers four days of
        cutting-edge research, networking, and expert workshops. Don't miss this opportunity to connect
        with leaders and pioneers in the field.
      </p>
      <button mat-raised-button disabled class="button">Coming Soon</button>
    </div>

    <div class="right-text">
      <p>
        Secure your brand's position at the forefront of aerospace innovation. Partner with the BVSR 2026
        Conference to engage directly with top student talent and industry leaders, gaining valuable brand
        visibility and networking opportunities.
      </p>
      <button mat-raised-button class="button sponserbut" routerLink="/sponsers">Become a Sponsor</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
