<app-navbar></app-navbar>

<section class="home">
  <div class="container">
    <div class="center-content">
      <img class="logo" src="../../assets/images/pictogramColor.png" [alt]="'home.logoAlt' | translate">
      <h1 class="head">{{ 'home.title' | translate }}</h1>
      <h2 class="location">{{ 'home.location' | translate }}</h2>
      <h4 class="slogan">{{ 'home.slogan' | translate }}</h4>
    </div>
  </div>

  <div class="p-container">
    <div class="left-text">
      <p>
        {{ 'home.leftP' | translate }}
      </p>
      <button mat-raised-button class="button" routerLink="/register">{{ 'home.getPasses' | translate }}</button>
    </div>

    <div class="right-text">
      <p>
        {{ 'home.rightP' | translate }}
      </p>
      <button mat-raised-button class="button sponserbut" routerLink="/sponsers">{{ 'home.becomeSponsor' | translate }}</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
