/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #060c20;
  font-family: 'Orbitron', sans-serif;
}

@font-face {
  font-family: 'Constellation';
  src: url('/assets/fonts/Constellation.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.constellation-text {
  font-family: 'Constellation', sans-serif;
  font-size: 64px;
  color: #fff;
  letter-spacing: 12px;
}

