<app-navbar></app-navbar>
<section class="page-section">
  <h1 class="page-title">{{ 'privacy.title' | translate }}</h1>

  <p>
    {{ 'privacy.intro' | translate }}
  </p>

  <h2>{{ 'privacy.h1' | translate }}</h2>
  <p>
    {{ 'privacy.p1' | translate }}
  </p>

  <h2>{{ 'privacy.h2' | translate }}</h2>
  <p>
    {{ 'privacy.p2' | translate }}
  </p>

  <h2>{{ 'privacy.h3' | translate }}</h2>
  <p>
    {{ 'privacy.p3' | translate }}
  </p>

  <h2>{{ 'privacy.h4' | translate }}</h2>
  <p>
    {{ 'privacy.p4' | translate }}
  </p>

  <h2>{{ 'privacy.h5' | translate }}</h2>
  <p>
    {{ 'privacy.p5' | translate }}
  </p>

  <h2>{{ 'privacy.h6' | translate }}</h2>
  <p>
    {{ 'privacy.p6' | translate }}
    <a href="mailto:vorstand&#64;tudsat.space">vorstand&#64;tudsat.space</a>.
  </p>
</section>
