<app-navbar></app-navbar>
<section class="page-section">
  <h1 class="page-title">Impressum</h1>

  <p><strong>Responsible for the content according to §6 MDStV:</strong></p>
  <p>
    TU Darmstadt Space Technology e.V. (TUDSaT)<br>
    Karolinenplatz 5<br>
    64289 Darmstadt<br>
    Germany
  </p>

  <p>
    <strong>Contact:</strong>
    <a href="mailto:vorstand&#64;tudsat.space">vorstand&#64;tudsat.space</a>
  </p>

  <p>
    <strong>Vereinsregister:</strong> Hessen Amtsgericht Darmstadt VR 83890<br>
    <strong>UST-IdNr.:</strong> – –
  </p>

  <p>
    We would be pleased to receive feedback or suggestions for improving our website.
  </p>

  <h2>Disclaimer</h2>
  <p>
    The TUDSaT e.V. provides links to other websites on its Internet presence, which are maintained by
    third parties. The content offered by linked websites does not originate from the TUDSaT e.V. and
    does not reflect our opinion. TUDSaT e.V. merely provides access to these websites. We emphasize
    that we have no influence whatsoever on the contents of the websites linked by the TUDSaT e.V. and
    hereby expressly distance ourselves from all contents of all linked websites.
  </p>

  <p>
    The TUDSaT e.V. does not assume any liability for the contents of the pages to which reference is
    made from the TUDSaT e.V.’s own Internet pages. The TUDSaT e.V. also assumes no responsibility for
    the content, correctness, and legality as well as the form of individual contents – including those
    posted by third parties.
  </p>

  <p>
    TUDSaT e.V. expressly declares that at the time of linking, the corresponding linked pages were free
    of illegal content. The TUDSaT e.V. has no influence on the current and future design and content of
    the linked pages. The aforementioned restrictions and disclaimers apply to all links and references
    used within our own website.
  </p>
</section>
