<app-navbar></app-navbar>
<section class="page-section">
  <h1 class="page-title">{{ 'impressum.title' | translate }}</h1>

  <p><strong>{{ 'impressum.responsible' | translate }}</strong></p>
  <p>
    TU Darmstadt Space Technology e.V. (TUDSaT)<br>
    Karolinenplatz 5<br>
    64289 Darmstadt<br>
    Germany
  </p>

  <p>
    <strong>{{ 'impressum.contact' | translate }}</strong>
    <a href="mailto:vorstand&#64;tudsat.space">vorstand&#64;tudsat.space</a>
  </p>

  <p>
    <strong>{{ 'impressum.registerLabel' | translate }}</strong> Hessen Amtsgericht Darmstadt VR 83890<br>
    <strong>{{ 'impressum.vatLabel' | translate }}</strong> – –
  </p>

  <p>
    {{ 'impressum.feedback' | translate }}
  </p>

  <h2>{{ 'impressum.disclaimerTitle' | translate }}</h2>
  <p>
    {{ 'impressum.d1' | translate }}
  </p>

  <p>
    {{ 'impressum.d2' | translate }}
  </p>

  <p>
    {{ 'impressum.d3' | translate }}
  </p>
</section>
