<app-navbar></app-navbar>

<section class="about">

<div class="head">
  <h1 class="title">
    Budesverband  Studentischer Raumfahrt (BVSR)
  </h1>
</div>

<div class="headpic"></div>

<div class="subhead">
    <h2 class="mainhead">
   What is BVSR?
  </h2>

  <h3 class="description">
    BVSR (Bundesverband studentischer Raumfahrt e.V.) is the German federation of student-led
    aerospace associations. Founded in 2021, BVSR unites more than 15 university groups across
     Germany to: <br>
     <ul>
        <li>Promote aerospace education and innovation.</li>
        <li>Encourage collaboration across student projects.</li>
        <li>Represent student interests in research, industry, and policy discussions</li>
      </ul>
  </h3>

  <h2 class="mainhead">
    Get to Know About BVSR
  </h2>

</div>


<div class="card-container">
  <mat-card class="card history-card" (click)="scrollTo('history')">
    <div class="card-bottom">
      <h2>Our History</h2>
    </div>
  </mat-card>

  <mat-card class="card conference-card" (click)="scrollTo('conference')">
    <div class="card-bottom">
      <h2 class="text">BVSR Conference</h2>
    </div>
  </mat-card>

  <mat-card id="history" class="card conference2026-card" (click)="scrollTo('conference2026')">
    <div class="card-bottom">
      <h2>BVSR Conference 2026 </h2>
    </div>
  </mat-card>
</div>

<div class="pageend">

</div>


<h2  class="mainhead">A Brief History</h2>
<div class="history-grid">

  <div class="history-image">
    <img src="../../../assets/images/yearpic.JPG" />
  </div>


  <div id="conference" class="history-text">

    <h3 class="description">
      The idea for BVSR was born at the 2018 International Astronautical Congress in Bremen,
      and the federation was formally established in 2021.
      Since then, the BVSR Conference has grown into the central meeting point of Germany’s
      student spaceflight scene.
    </h3>
  </div>
</div>

 <h2  class="mainhead">BVSR Conference - What to expect?</h2>

<div  class="conference-grid">

  <div class="conference-text">

    <h3 class="description">
      The BVSR Conference, first held in Munich in 2022, is a premier event for students
      and professionals in the space sector. It offers members of BVSR associations the
      opportunity to attend engaging workshops and lectures, while students
      can network with peers and industry representatives, fostering collaboration across
      student associations. <br> <br>

      A key highlight of the conference is the Student Space Forum, which
      showcases the achievements of BVSR associations to students and the wider public.
      Presentations from start-ups at the ESA Business Incubation Center and
      other industry companies provide further insights into the space sector.
      The conference celebrates the accomplishments of students in space research
      and encourages participation in space-focused associations,
      helping to strengthen the next generation of talent in the field.
    </h3>
  </div>


  <div class="conference-image">
    <img src="../../assets/images/conf pic.jpg" alt="BVSR Conference Image" />
  </div>
</div>


<h2 class="mainhead">
    Past BVSR Conferences
</h2>

<div class="past-conferences">

  <div class="pastconference-grid">


    <div class="pastconference-card">
      <h3>2022 – Munich</h3>

    </div>

    <div class="pastconference-card">
      <h3>2023 – Stuttgart</h3>

    </div>

    <div class="pastconference-card">
      <h3>2024 – Friedrichshafen</h3>
    </div>

    <div class="pastconference-card">
      <h3>2025 – Aachen</h3>

    </div>


  </div>
</div>

 <h2 class="mainhead">
        BVSR Conference 2026
</h2>

  <div id="conference2026" class="conference2026">




    <h3 class="description">
         From May 14–17, 2026, the BVSR Conference returns to its home city.
          Over four days, students, researchers, and industry representatives will gather for: <br>
     <ul>
        <li> Workshops on spacecraft design, propulsion, and project management. </li>
        <li> Keynotes and Panels from leaders in academia and industry. </li>
        <li> Student Space Forum where projects are presented and discussed. </li>
        <li> Networking Sessions to foster collaboration between universities and companies. </li>
        <li> Social Events to connect the community in a more informal setting.</li>

     </ul>
  </h3>

  </div>

  <div class="pageend">
  <div class="quote-card">
        <p class="quote">
      Join us as we explore the frontiers of space, connect brilliant minds,
      and inspire the discoveries of tomorrow.
    </p>
   </div>
  </div>
</section>

<app-footer></app-footer>
